<h2>Geräte</h2>

<!-- Control buttons -->
<div class="list-top-bar">
	<div class="list-info">
		<p>Zeige <%= devices.length %> von <%= pagination.total %> Geräten</p>
	</div>
</div>
	
<%
let columns = [
	colPreDevice + 'address',
	colPreDevice + 'name',
	colPreDevice + 'description',
	colPreDevice + 'recordCount',
	colPreDevice + 'created_at',
];
%>
<div class="table-container">
	<table class="list-table">
		<thead>
			<tr>
				<!-- ID column is always displayed -->
				<th><div class="th-content">#</div></th>
				<!-- Dynamic columns -->
				<% columns.forEach(column => { %>
					<th><div class="th-content"><%= columnCaption(column) %></div></th>
				<% }); %>
			</tr>
		</thead>
		<tbody>
			<% devices.forEach(device => { %>
				<tr>
					<!-- ID column is always displayed -->
					<td><a href="<%= device.columnLink(colPreDevice + 'id') %>"><%= device.id %></a></td>
					<!-- Dynamic columns -->
					<% columns.forEach(column => { %>
						<% let { value, link, classes } = device.columnOutput(column, true); %>
						<td class="<%= classes.join(' ') %>"><span>
							<% if (link) { %>
								<a href="<%= link %>"><%= value %></a>
							<% } else { %>
								<%= value %>
							<% } %>
						</span></td>
					<% }); %>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<%- include('pagination', { 
	pagination: pagination, 
	path: path,
	items: devices, 
	itemName: 'Geräten' 
}) %> 