<h2>Geräte</h2>

<!-- Control buttons -->
<div class="list-top-bar">
	<div class="list-info">
		<p>Zeige <%= devices.length %> von <%= pagination.total %> Geräten</p>
	</div>
</div>
	
<%
let columns = [
	colPreDevice + 'favorite_at',
	colPreDevice + 'address',
	colPreDevice + 'name',
	colPreDevice + 'description',
	colPreDevice + 'recordCount',
	colPreDevice + 'created_at',
];
%>
<div class="table-container">
	<table class="list-table">
		<thead>
			<tr>
				<% [colPreDevice + 'id', ...columns].forEach(column => { %>
					<th><div class="th-content"><%= columnCaption(column, true) %></div></th>
				<% }); %>
			</tr>
		</thead>
		<tbody>
			<% devices.forEach(device => { %>
				<tr>
					<% [colPreDevice + 'id', ...columns].forEach(column => { %>
						<% let { value, link, classes } = device.columnOutput(column, true); %>
						<td class="<%= classes.join(' ') %>"><span>
							<% if (link) { %>
								<a href="<%= link %>"><%= value %></a>
							<% } else { %>
								<%= value %>
							<% } %>
						</span></td>
					<% }); %>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<%- include('pagination', { 
	pagination: pagination, 
	path: path,
	items: devices, 
	itemName: 'Geräten' 
}) %> 