<h2>Quellen</h2>

<!-- Control buttons -->
<div class="list-top-bar">
	<div class="list-info">
		<p>Zeige <%= sources.length %> von <%= pagination.total %> Quellen</p>
	</div>
</div>

<%
let columns = [
	colPreSource + 'created_at',
	colPreSource + 'type',
	colPreSource + 'filename',
	colPreSource + 'rdysent',
	colPreSource + 'recordCount',
];
%>
<div class="table-container">
	<table class="list-table">
		<thead>
			<tr>
				<!-- ID column is always displayed -->
				<th><div class="th-content">#</div></th>
				<!-- Dynamic columns -->
				<% columns.forEach(column => { %>
					<th><div class="th-content"><%= columnCaption(column) %></div></th>
				<% }); %>
			</tr>
		</thead>
		<tbody>
			<% sources.forEach(source => { %>
				<tr>
					<!-- ID column is always displayed -->
					<td><a href="<%= source.columnLink(colPreSource + 'id') %>"><%= source.id %></a></td>
					<!-- Dynamic columns -->
					<% columns.forEach(column => { %>
						<% let { value, link, classes } = source.columnOutput(column, true); %>
						<td class="<%= classes.join(' ') %>"><span>
							<% if (link) { %>
								<a href="<%= link %>"><%= value %></a>
							<% } else { %>
								<%= value %>
							<% } %>
						</span></td>
					<% }); %>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<%- include('pagination', { 
	pagination: pagination, 
	path: path,
	items: sources, 
	itemName: 'Quellen' 
}) %> 