<div class="table-container">
	<table class="list-table">
		<thead>
			<tr>
				<% [colPreRecord + 'id', ...columns.selected].forEach(column => { %>
					<th><div class="th-content"><%= columnCaption(column, true) %></div></th>
				<% }); %>
			</tr>
		</thead>
		<tbody>
			<% records.forEach(record => { %>
				<tr>
					<% [colPreRecord + 'id', ...columns.selected].forEach(column => {
						let { value, link, classes } = record.columnOutput(column, true);
						%>
						<td class="<%= classes.join(' ') %>"><span>
							<% if (link) { %>
								<a href="<%= link %>"><%= value %></a>
							<% } else { %>
								<%= value %>
							<% } %>
						</span></td>
					<% }); %>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>